:root {
  --body-text-extra-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-extra-large-bold-font-size: 20px;
  --body-text-extra-large-bold-font-style: normal;
  --body-text-extra-large-bold-font-weight: 700;
  --body-text-extra-large-bold-letter-spacing: -0.4px;
  --body-text-extra-large-bold-line-height: 32px;
  --body-text-extra-small-body-extra-small-regular-font-family: "DM Sans",
    Helvetica;
  --body-text-extra-small-body-extra-small-regular-font-size: 12px;
  --body-text-extra-small-body-extra-small-regular-font-style: normal;
  --body-text-extra-small-body-extra-small-regular-font-weight: 400;
  --body-text-extra-small-body-extra-small-regular-letter-spacing: -0.24px;
  --body-text-extra-small-body-extra-small-regular-line-height: 20px;
  --body-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --body-text-extra-small-bold-font-size: 12px;
  --body-text-extra-small-bold-font-style: normal;
  --body-text-extra-small-bold-font-weight: 700;
  --body-text-extra-small-bold-letter-spacing: -0.24px;
  --body-text-extra-small-bold-line-height: 20px;
  --body-text-extra-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-extra-small-medium-font-size: 12px;
  --body-text-extra-small-medium-font-style: normal;
  --body-text-extra-small-medium-font-weight: 500;
  --body-text-extra-small-medium-letter-spacing: -0.24px;
  --body-text-extra-small-medium-line-height: 20px;
  --body-text-medium-bold-font-family: "DM Sans", Helvetica;
  --body-text-medium-bold-font-size: 16px;
  --body-text-medium-bold-font-style: normal;
  --body-text-medium-bold-font-weight: 700;
  --body-text-medium-bold-letter-spacing: -0.32px;
  --body-text-medium-bold-line-height: 28px;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-medium-bold-font-family: "DM Sans", Helvetica;
  --body-text-small-body-medium-bold-font-size: 14px;
  --body-text-small-body-medium-bold-font-style: normal;
  --body-text-small-body-medium-bold-font-weight: 700;
  --body-text-small-body-medium-bold-letter-spacing: -0.28px;
  --body-text-small-body-medium-bold-line-height: 24px;
  --body-text-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-medium-font-size: 14px;
  --body-text-small-medium-font-style: normal;
  --body-text-small-medium-font-weight: 500;
  --body-text-small-medium-letter-spacing: -0.28px;
  --body-text-small-medium-line-height: 24px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --display-text-small-display-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-display-small-bold-font-size: 34px;
  --display-text-small-display-small-bold-font-style: normal;
  --display-text-small-display-small-bold-font-weight: 700;
  --display-text-small-display-small-bold-letter-spacing: -0.68px;
  --display-text-small-display-small-bold-line-height: 42px;
  --primarygreen500-success-color: rgba(1, 181, 116, 1);
  --primarypurple-blue500-primary: rgba(67, 24, 255, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --primaryred500-error-color: rgba(227, 26, 26, 1);
  --secondary-primary-white: rgba(255, 255, 255, 1);
  --secondarydark-grey500-placeholder-color: rgba(143, 155, 186, 1);
  --secondarydark-grey900: rgba(27, 37, 89, 1);
  --secondarygrey-200: rgba(246, 248, 253, 1);
  --secondarygrey-300: rgba(244, 247, 254, 1);
  --secondarygrey-400: rgba(233, 237, 247, 1);
  --secondarygrey-600: rgba(163, 174, 208, 1);
  --secondarygrey-700: rgba(112, 126, 174, 1);
  --secondarygrey-900: rgba(43, 54, 116, 1);
}
